// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
@font-face {
  font-family: "Star Jedi";
  src: url('/font-url/Starjedi.ttf') format('truetype');
}
$star-jedi: "Star Jedi";

@font-face {
  font-family: "Star Jhol";
  src: url('font-url/Starjhol.ttf') format('truetype');
}
$star-jhol: "Star Jhol";

@font-face {
  font-family: "Star Jout";
  src: url('font-url/Starjout.ttf') format('truetype');
}
$star-jout: "Star Jout";

@font-face {
  font-family: "Star Jedise";
  src: url('font-url/STJEDISE.ttf') format('truetype');
}
$star-jedise: "Star Jedise";
