// Specific CSS for your home-page
body {
  background-color: black;
}
.main-container{
  margin-top: 80px !important;
}
.sub-title{
  color: white;
  text-align: center;
}
.main-title{
  margin-bottom: 80px;

}
h1{
  font-family: "Star jedi";
}
