
.login {
  background-image: url('http://cdn.spacetelescope.org/archives/images/screen/heic1905a.jpg');
  height: 80vh;
  margin-top: 20px;
  background-position: center;
  justify-content: center;
}

.card>h2 {
  font-family: 'Star Jedi';
  color: black;
  margin-top: 20px;
}

.card {
  opacity: 0.80;
}

.login-form-container {
  .form-control {
    width: 100%;
  }
  background-color: transparent;
  color: white;
  h2 {
    color: white;
  }
}
