.signup {
  background-image: url('http://cdn.spacetelescope.org/archives/images/screen/heic1905a.jpg');
  height: 80vh;
  margin-top: 20px;
  background-position: center;
  justify-content: center;
}

.title>h2 {
  font-family: 'Star Jedi';
  color: black;
  margin-top: 20px;
}

.card {
  align-items: center;
  opacity: 0.80

}
.btn-hote {
    border-radius: 18px;
    background-image: linear-gradient(#FF784A, #F1CB4C);
    padding: 5px 10px;
    text-decoration: none;
    box-shadow: 0 0 20px #FF784A;
  }
.btn-hote:hover {
  box-shadow: 0 0 40px #FF784A;
}
