.signup {
  background-image: url('http://cdn.spacetelescope.org/archives/images/screen/heic1905a.jpg');
  height: 80vh;
  margin-top: 20px;
  background-position: center;
  justify-content: center;
}

.title>h2 {
  font-family: 'Star Jedi';
  color: black;
  margin-top: 20px;
}

.card {
  align-items: center;
  opacity: 0.80;
  background-color: none;
}
