  <div class="sabre-laser-footer">
  </div>
<div class="footer">
  <div class="footer-links">
    <a href=""><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt=""></a>
    <a href=""><img src="https://cdn1.iconfinder.com/data/icons/social-media-2285/512/Colored_Facebook3_svg-256.png" alt=""></a>
    <a href=""><img src="https://cdn4.iconfinder.com/data/icons/social-media-2146/512/25_social-256.png" alt=""></a>
    <a href=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-applications/64/social_media_applications_6-twitter-256.png" alt=""></a>
    <a href=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-applications/64/social_media_applications_14-linkedin-256.png" alt=""></a>
  </div>
  <div class="footer-brand">
    <span class="jedi-star">SpaceToBe</span>
    <img src="assets/logo2.png" alt="" class="footer-logo">
  </div>
</div>
