.banner {
  // background-image: url("../../assets/images/spacetobe-banner.jpeg");
  background-image: image-url("spacetobe-banner.jpeg");
  text-align: center;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  padding-left: 22%;
  height: 80vh;
  width: 100%;
  color: black;
  flex-direction: column;
  h1 {
    font-size: 66px;
    font-weight: bold;
  }
  p {
    font-size: 36px;
  }
  .banner-container {
    width: 40%;
  }
}
