.banner {
  background-color: black;
  text-align: center;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  height: 80vh;
  width: 100%;
  color: black;

  .banner-container{
    width: 80% !important;
  }
  h1 {
    font-family: 'Star Jedi';
    font-size: 48px;
    color: white;
  }
  p {
    font-size: 36px;
  }
  .banner-container {
    width: 40%;
  }
}
