.button-container {
  width: 150px;
  margin: 0 auto;
}
.btn-arrondi {
  border-radius: 10px;
}

.btn-hote {
    border-radius: 18px;
    background-image: linear-gradient(#FF784A, #F1CB4C);
    padding: 5px 10px;
    text-decoration: none;
    box-shadow: 0 0 20px #FF784A;
  }
.btn-hote:hover {
  box-shadow: 0 0 40px #FF784A;
}

.login-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 26px;
}
