.title-new{
  color: white;
}
.foobarbaz{
  width: 80% !important;
}
.container-new{
  padding: 100px 0px;
  background-image: image-url("backgroung.jpeg");
  background-position: center;
 height: auto ;
 //max-width: 100%;
 background-size: contain;
}
.form-new-planet{
  width: 80%;
  opacity: 90%;
   margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: auto;
  border-radius: 6px;
}

.testest{
color: yellow;
}
