.navbar-lewagon {
  justify-content: space-between;
  background: black;
  position:fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;

}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  a {
    color: #6c757d;
  }
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-brand {
  font-weight: bold;

  .jedi-star {
    font-family: "Star Jedi";
    color: white;
    font-size: 26px;
    vertical-align: middle;
  }
}
// .all-planets {
//   color: #6c757d;
// }
// .all-planets:hover {
//   text-decoration: none;
//   color: #6c757d;
// }

.user {
  color: #6c757d;
  align-items: center;
}

.navbar-nav {
  display: flex;
  align-items: center;
}
.link-planets{
  color: white !important;
  &:hover{
    color: #F1CB4C !important;
  }
}
