.navbar-lewagon {
  justify-content: space-between;
  background: black;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  .btn-hote {
    border-radius: 18px;
    background-image: linear-gradient(#FF784A, #F1CB4C);
    padding: 5px 10px;
    text-decoration: none;
    box-shadow: 0 0 20px #FF784A;
  }
}
.btn-hote:hover {
  box-shadow: 0 0 40px #FF784A;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  a {
    color: #6c757d;
  }
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-brand {
  font-weight: bold;
  .jedi-star {
    font-family: "Star Jedi";
    color: white;
    font-size: 26px;
    vertical-align: middle;
  }
}
.all-planets {
  color: #6c757d;
}
.all-planets:hover {
  text-decoration: none;
  color: #6c757d;
}
