.navbar-lewagon {
  justify-content: space-between;
  background: #A4CFE7;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-brand {
  font-weight: bold;
}
