.planets-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr  ;
  grid-gap: 60px;
}

.planet-card {
  z-index: 10;
  color: white;
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 6px;
  box-shadow: 1px 2px 10px rbga(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  text-shadow:   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 10px #141414;
  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.9;
  }
}

.commentaries-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-gap: 30px;
  margin-left: 40px;

}

.commentary-card {
  background-color: #FDF8F8;
  color: black;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 280px;
  border-radius: 6px;
  box-shadow: 1px 2px 10px rbga(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.commentary-text{
  background-color: #FDF8F8;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  border-radius: 6px;
}
.yellow-star{
  color: #FFD56A;
  margin-bottom: 20px;
}

.sabre-laser{
  position: absolute;
  height: 20px;
  background-color: white;
  width: 100%;
  transform: translate(0%, -825%);
  z-index: 0;
  box-shadow:
    0 0 10vw  0vw #FF784A,
    0 0   2vw  0.4vw #FC884B,

    inset 0 0 .5vw  .2vw #F99A4B,
    inset 0 0 0.2vw  0.2vw #F5B24C,
    inset 0 0 .25vw  0.2vw #F1CB4C;
}
